<ion-navbar>
  <ion-grid>
    <ion-row>


      <ion-col col-3>
        <div class="geral">
          <button class="img-perfil" ion-button clear full icon-only>
                <img full class="img-perfil status" src="{{photo}}" alt="">
              </button>
        </div>
      </ion-col>
      <ion-col col-7>
        <h1>
          <p>{{title}}</p>
        </h1>
      </ion-col>
      <ion-col col-2 end>
        <button ion-button full clear menuToggle><ion-icon color="secondary" name="md-contacts" item-left></ion-icon></button>
      </ion-col>

    </ion-row>
    <ion-row>

    </ion-row>
  </ion-grid>

</ion-navbar>
